._share
{
  margin-top: 2em;
}

._share a,
._share a:link,
._share a:visited,
._share a:hover,
._share a:active
{
  text-decoration: none;
  box-shadow: none;
  border: none;
}

._share a
{
  background-color: #aaaaaa;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 4px;
  position: relative;
}

._share a:hover
{
  background-color: #999999;
}

._share .dashicons,
._share .dashicons-before::before
{
  display: block;
  color: #ffffff;
  position: absolute;
  font-size: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  line-height: 1em;
  height: 1em;
  width: 1em;
}
